.App {
  text-align: left;
}
.mt-10{
  margin-top: 10px;
}
.mb-10{
  margin-bottom: 10px;
}
.ml-10{
  margin-left: 10px;
}
.mr-10{
  margin-right: 10px;
}
.pd-5{
  padding: 5px;
}
.float-r{
  float: right;
}